<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/partials/create-task-modal.css">
  <link rel="stylesheet" href="/styles/components/input.css">
  <link rel="stylesheet" href="/styles/components/button.css">
  <link rel="stylesheet" href="/styles/components/select.css">
</head>

<body>
  <div class="create-task-modal">
    <h3 class="create-task-modal__title">Cadastro de atividades</h3>

    <form class="create-task-modal__form" novalidate>

      <div class="input-container name">
        <input
          type="text"
          placeholder=" "
          autocomplete="off"
          class="input-container__input"
          name="name"
          required>
        <label class="input-container__label">Nome</label>
        <p class="input-container__input-error name-required-error">
          Nome é obrigatório
        </p>
      </div>

      <div class="input-container status">
        <select class="select" name="status">
          <option value="scheduled" selected>Agendada</option>
          <option value="done">Concluída</option>
        </select>
      </div>

      <button class="create-task-modal__button button">Criar atividade</button>
  </div>

  <script src="/scripts/create-task-modal.js"></script>
</body>

</html>