<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/partials/menu.css">
</head>

<body>
  <nav class="menu">
    <h1 class="menu__logo">logo</h1>

    <ul class="menu__list">
      <a href="/dashboard">
        <li>
          Listagem de atividades
        </li>
      </a>
      <a href="/dashboard/create-task">
        <li>
          Cadastrar atividades
        </li>
      </a>
    </ul>
  </nav>

  <script src="/scripts/menu.js"></script>
</body>

</html>